.mainModal {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -106%);
}
.modalOverlay {
  max-height: 1vh !important;
}
.inputBtn {
  height: 520px;
  min-height: 520px;
  max-height: 520px;
  border-bottom: none;
  margin: 0 !important;
  padding: 10px 0px;
  color: #0cebeb !important;
  display: grid;
  justify-items: center !important;
  align-items: start;
  align-content: start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}
.historyItem {
  border-bottom: 1px solid #0cebeb;
  width: 250px;
  margin-bottom: 30px;
}
.entry {
  text-align: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
  justify-items: end;
}
.historyTitle {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}
.operation {
  display: inline-flex;
  color: #dcdcdc;
}
.trashIcon {
  margin-left: 20px;
  margin-top: 2px;
  cursor: pointer;
  transition: 200ms color ease-in;
  &:hover {
    color: #0cebeb;
  }
}
.result {
  font-size: 30px;
  font-weight: 600;
  margin-top: -10px;
}
.closeIcon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-left: 20px;
}
