<template>
  <teleport to="body">
    <transition name="fade">
      <div
        v-if="modelValue"
        class="congrats-modal text-center justify-center"
        style="background-color: rgba(0, 0, 0, 0.25); z-index: 99999"

      >
        <div
          id="backdrop"
          @click="backdropClick"
          class="modal1-dialog h-100 overflow-auto"
        >
          <div
            class="card px-0"
            :class="container == null ? 'container' : `container-${container}`"
          >
            <button
              v-if="closeable"
              @click="$emit('update:modelValue', false)"
              class="close btn btn-text float-end"
            >
              <strong>X</strong>
            </button>
            <div class="card-header h2">
              {{ header }}
            </div>
            <div class="card-body">
              <slot></slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </teleport>
</template>
<script>
export default {
  props: {
    modelValue: {
      type: Boolean,
      required: true,
      default: false,
    },
    closeable: {
      type: Boolean,
      required: false,
      default: false,
    },
    header: {
      type: String,
      required: false,
      default: null,
    },
    container: {
      type: String,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      isVisible: false,
    }
  },
  methods: {
    backdropClick(event) {
      if (event.target.id == 'backdrop' && this.closeable == true) {
        this.$emit('update:modelValue', false)
      }
    },
  },
}
</script>
<style lang="scss">

/* INITIAL */
.congrats-modal {
  min-width: 12rem;
  position: fixed;
  top: 12rem !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 12px 4px $color-3;
  -webkit-box-shadow: 2px 2px 12px 4px $color-3;
  -moz-box-shadow: 2px 2px 12px 4px $color-3;
  box-shadow: 2px 2px 12px 4px $color-3;
  border: none;
  border-radius: 5px;
  animation: modal-card .6s ease-in;
  z-index: 2147483647 !important;
  .card {
    border: none !important;
    background-color: #{$color-5 + $opacity-90} !important;
    padding: $spacer-0 !important;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      color: $color-3;
    }
    .card-header {
      text-shadow: 2px 1px 2px $color-1;
      font-weight: $font-heavy;
      font-size: $font-size-1;
      color: $color-8;
      border-bottom: 1px solid $color-3;
    }
    .card-body > * {
      font-size: $font-size-0;
      color: $color-3;
    }
  }
}

/* RESPONSIVE */
@media all and (min-width: 350px) {
  .congrats-modal {
    min-width: 19rem !important;
    .card {
      .card-header {
      font-size: $font-size-2;
    }
    .card-body > * {
      font-size: $font-size-2;
    }
    }
  }
}
@media all and (min-width: 430px) {
  .congrats-modal {
    min-width: 19rem !important;
    .card {
      .card-header {
      font-size: $font-size-3;
    }
    .card-body > * {
      font-size: $font-size-2;
    }
    }
  }
}
@media all and (min-width: 540px) {
  .congrats-modal {
    min-width: 27rem !important;
    .card {
      .card-header {
      font-size: $font-size-4;
    }
    .card-body > * {
      font-size: $font-size-3;
    }
    }
  }
}
@media all and (min-width: 899px) {
  .congrats-modal {
    min-width: 18rem;
  }
}
@media all and (min-width: 1250px) {
  .congrats-modal {
    top: 20rem;
    .card {
      padding: $spacer-3;
      .card-header {
        font-size: $font-size-4;
        font-weight: $font-heavy;
      }
      .card-body > * {
        font-size: $font-size-3;
      }
    }
  }
}

/* ANIMATIONS */
@keyframes modal-card {
  0% {
    opacity: .3;
    filter:brightness(3)
  }
  20% {
    opacity: .5;
    filter:brightness(2.5)
  }
  40% {
    opacity: .7;
    filter:brightness(2)
  }
  60% {
    opacity: .8;
    filter:brightness(1.5)
  }
  80% {
    opacity: .9;
    filter:brightness(1.25)
  }
  100% {
    opacity: 1;
    filter:brightness(1)
  }
}
</style>
