<template>
  <div id="loading">
    <div class="box-loading"></div>
  </div>
</template>
<script setup></script>
<style lang="scss" scoped>
#loading {
  background: $color-1; 
  background: -webkit-linear-gradient(
    to right,
    $color-1,
    $color-2
  );
  background: linear-gradient(
    to right,
    $color-1,
    $color-2
  );
  height: 100%;
  width: 100%;
  position: absolute !important;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  z-index: 999999 !important;
  display: block;
}
.box-loading {
  width: 49px;
  height: 49px;
  margin: auto;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.box-loading:before {
  content: '';
  width: 49px;
  height: 5px;
  background: $color-4;
  opacity: 0.1;
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  animation: shadow-animate 0.58s linear infinite;
  -o-animation: shadow-animate 0.58s linear infinite;
  -ms-animation: shadow-animate 0.58s linear infinite;
  -webkit-animation: shadow-animate 0.58s linear infinite;
  -moz-animation: shadow-animate 0.58s linear infinite;
}
.box-loading:after {
  content: '';
  width: 49px;
  height: 49px;
  background: $color-5;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  animation: load-animate 0.58s linear infinite;
  -o-animation: load-animate 0.58s linear infinite;
  -ms-animation: load-animate 0.58s linear infinite;
  -webkit-animation: load-animate 0.58s linear infinite;
  -moz-animation: load-animate 0.58s linear infinite;
}
@keyframes load-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@-o-keyframes load-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -o-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -o-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
  }
}
@-ms-keyframes load-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -ms-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -ms-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -ms-transform: translateY(0) rotate(90deg);
  }
}
@-webkit-keyframes load-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes load-animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -moz-transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 39px;
  }
  75% {
    -moz-transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow-animate {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@-o-keyframes shadow-animate {
  0%,
  100% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(1.2, 1);
  }
}
@-ms-keyframes shadow-animate {
  0%,
  100% {
    -ms-transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(1.2, 1);
  }
}
@-webkit-keyframes shadow-animate {
  0%,
  100% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
  }
}
@-moz-keyframes shadow-animate {
  0%,
  100% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.2, 1);
  }
}
</style>
