<template>
  <div class="memory-wrapper">
    <div class="card">

      <!-- MODAL OPENED WHEN USER WINS -->

      <CongratsModal
        v-model="modal"
        closeable
        :header="`🎉¡'U win, ${userData?.fullName}!🎉`"
      >
        <p>🙇‍♀️ U're the winner with {{ miss + hits }} moves 🙇‍♂️</p>
        <p>⏰ This took you {{ minutes }} mins ⏰</p>
        <p>☕️ Now you can take a rest ☕️</p>
      </CongratsModal>

      <!-- FIREWORKS OPENED WITH CONGRATS MODAL -->

      <FireWorks v-show="modal" />

      <!-- LOADING STATUS -->

      <Loading v-if="loading" />

      <!-- USER DATA FORM AT FIRST VISIT - DATA SAVED ON LOCAL STORAGE-->

      <UserDataForm v-else-if="!userData" @saveName="saveName" />

      <!-- USERDATA LOADED -->

      <div v-else-if="userData" class="card-body">
        <div class="card-header">
          <div class="refresh-icon" @click="resetCards">
            <img src="@/../public/images/refresh.png" class="img-fluid" />
          </div>
          <h5 class="card-title text-center">
            <span class="main-title">CONCENTRATION</span>
          </h5>
          <div class="timer">
            <span>{{ timer + 's' }}</span>
          </div>
        </div>

        <!--
          CHECK IF THERE'S AN ARRAY OF CARDS OR IF AN ERROR MESSAGE WAS RETURNED.
          CARD-ITEM ELEMENT CONTAINS CARDS (CARD-UNIT) CONTAINING IMAGES
          THERE'S FOUR IMAGES:
            1) v-if="item.display && !item.matched" -> animal image, when a card is turned over
               and stays when match occurs.
               Class .animal controls the animation.
            2) v-else-if="item.matched" -> match image, temporary (only used for animation),
               then we'll set currMatched for fixed matched status.
               Class .matched-image controls the animation.
            3) v-else-if="item.wrong" -> same as qmark image (default image) but when different color.
               It's loaded when user fails, and then shows the default image (see next point)
               Class .qmark controls the animation.
            4) v-else, the question mark default imagen.

        -->

        <div v-if="typeof cards === 'object'" class="card-content card-item no-gutters">
          <li
            v-for="(item, index) in cards"
            class="card-unit"
            :key="index"
            @click="
              item.matched || opened[0]?.id === item.id
                ? ''
                : openCard($event, item, index)
            "
          >

            <img
              v-if="item.display && !item.matched"
              class="img-fluid animal"
              :class="{'fixed-match': item.currMatched}"
              :src="item.image"
            />
            <img
              v-else-if="item.matched"
              src="@/../public/images/surprise.png"
              class="img-fluid"
              :class="{ ' matched-image': item.matched }"
            />
            <img
              v-else-if="item.wrong"
              src="@/../public/images/qmark-wrong.png"
              class="img-fluid qmark"
            />
            <img v-else class="img-fluid" src="@/../public/images/qmark.png" />
          </li>

          <!--
            DRAGGABLE SCORE MARK CONTAINER.
            The total moves in CongratsModal will be calculated
            with the sum of hits and miss.
          -->

          <div id="draggable-container" ref="draggableContainer">
            <div class="score" @mousedown="dragMouseDown">
              <div class="move-icon">
                <img class="img-fluid" src="@/../public/images/move.png" />
              </div>
              <div class="hit">
                <span class="marker-title">HIT</span>
                <span class="marker-count">{{ hits || 0 }}</span>
              </div>
              <div class="miss">
                <span class="marker-title">MISS</span>
                <span class="marker-count">{{ miss || 0 }}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- AN ERROR MESSAGE WAS RETURNED - ALWAYS STRING-->

        <div v-else class="card-content error-message text-center">
          {{ cards }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getCards } from '@/utils'
import Loading from './Loading'
import UserDataForm from './UserDataForm'
import FireWorks from './FireWorks'
import CongratsModal from './CongratsModal'

export default {
  name: 'MemoryScreen',
  components: {
    Loading,
    UserDataForm,
    FireWorks,
    CongratsModal,
  },
  data() {
    return {
      loading: true,
      userData: null,
      cards: null,
      opened: [],
      hits: 0,
      miss: 0,
      timer: 0,
      firstClick: false,
      positions: {
        clientX: undefined,
        clientY: undefined,
        movementX: 0,
        movementY: 0,
      },
      intervalID: null,
      modal: false,
      uWin: false,
      freezeTimer: 0
    }
  },
  computed: {
    minutes() {
      return this.timer ? Math.round(this.timer / 60) : 0
    },
  },
  watch: {
    /* needed to start timer */
    firstClick() {
      if (this.firstClick) {
        this.intervalID = setInterval(() => {
          this.timer++
        }, 1000)
      } else {
        clearInterval(this.intervalID)
      }
    },
    /* uWin setted to true from checkGameStatus() */
    uWin() {
      this.modal = true
      this.freezeTimer = this.timer
      this.firstClick = false
    },
  },
  mounted() {
    this.getUserData()
    this.getCards()
  },
  methods: {
    async getCards() {
      this.cards = await getCards()
      this.loading = false
    },
    async getUserData() {
      /*
         if there isn't USER_DATA, call saveName anyway and ser userData with null.
         UserDataForm will handle this and call the function again  
      */
      const userData = await JSON.parse(localStorage.getItem('USER_DATA'))
      this.saveName(userData)
    },
    /* triggered from UserDataForm component or from getUserData() */
    saveName(userData) {
      this.userData = userData
    },
    async getIndex(ID) {
      return await this.cards.findIndex((crd) => crd.id === ID)
    },
    async openCard(event, card, index) {
      event.preventDefault()
      /* firstClick to start timer */
      this.firstClick ? '' : (this.firstClick = true)
      /* prevent click in matched cards */
      if (card.currMatched) return
      this.opened.push(card)
      this.cards[index].display = true
      /* only 2 per time */
      if (this.opened.length > 2) {
        /* sometimes this.opened receives more than 2 values, so we need this condition */
        for (let i = 2; i < this.opened.length; i++) {
          const currIndex = await this.getIndex(this.opened[i].id)
          /* reset every xtra card */
          this.cards[currIndex].display = false
          this.cards[currIndex].matched = false
        }
        this.opened = [this.opened[0], this.opened[1]]
      /* match */
      } else if (
        this.opened.length > 1 &&
        this.opened[0].name === this.opened[1].name &&
        this.opened[0].id !== this.opened[1].id
      ) {
        /* check if user wins */
        this.checkScore(true)
        const previousIndex = await this.getIndex(this.opened[0].id)
        /* animate match */
        this.animateMove('match', previousIndex, index)
      /* not match */
      } else if (
        this.opened.length > 1 &&
        this.opened[0].name !== this.opened[1].name
      ) {
        this.checkScore(false)
        const previousIndex = await await this.getIndex(this.opened[0].id)
        /* animate fail and reset opened values */
        this.animateMove('fail', previousIndex, index)
      }
    },
    /* reduce code in openCard() function */
    animateMove(result, previousIndex, index) {
      if (result === 'fail') {
        setTimeout(() => {
          this.cards[index].wrong = true
          this.cards[previousIndex].wrong = true
          this.cards[index].display = false
          this.cards[previousIndex].display = false
          this.opened = []
        }, 1000)
        setTimeout(() => {
          this.cards[index].wrong = false
          this.cards[previousIndex].wrong = false
        }, 2000)
      } else {
        this.cards[previousIndex].matched = true
        this.cards[index].matched = true
        this.cards[previousIndex].currMatched = true
        this.cards[index].currMatched = true
        this.checkGameStatus()
        setTimeout(() => {
          this.cards[index].matched = false
          this.cards[previousIndex].matched = false
          this.opened = []
        }, 1000)
      }
    },
    /* check if all the cards have matched */
    async checkGameStatus() {
      this.uWin =
        (await this.cards.filter((card) => card.display)).length ===
        this.cards.length
    },
    /* controller for score marker */
    checkScore(hit) {
      hit ? this.hits++ : this.miss++
    },
    /* reset cards */
    async resetCards() {
      try {
        await this.cards.forEach((card) => {
          card.display = false
          card.currMatched = false
        })
        this.cards.sort(() => Math.random() - 0.5)
        this.firstClick = false
        this.freezeTimer = 0
        this.timer = 0
        this.hits = 0
        this.miss = 0
        this.opened = []
      } catch {}
    },
    /* draggable marker functions */
    dragMouseDown(event) {
      event.preventDefault()
      this.positions.clientX = event.clientX
      this.positions.clientY = event.clientY
      document.onmousemove = this.elementDrag
      document.onmouseup = this.closeDragElement
    },
    elementDrag(event) {
      event.preventDefault()
      this.positions.movementX = this.positions.clientX - event.clientX
      this.positions.movementY = this.positions.clientY - event.clientY
      this.positions.clientX = event.clientX
      this.positions.clientY = event.clientY
      this.$refs.draggableContainer.style.top =
        this.$refs.draggableContainer.offsetTop -
        this.positions.movementY +
        'px'
      this.$refs.draggableContainer.style.left =
        this.$refs.draggableContainer.offsetLeft -
        this.positions.movementX +
        'px'
    },
    closeDragElement() {
      document.onmouseup = null
      document.onmousemove = null
    },
  },
}
</script>
<style lang="scss">
/* 
  The difference between .card-unit (container) and img always should be 0.2 rem.
  Control total cards displayed =>
    .memory-wrapper {
      .card {
        .card-body {
          .card-item {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
  Control main width =>
    .card {
      width: $card-w-SCSS-DEFINED-WIDTH !important;
      .card-body {
        .card-header {
          width: $card-w-SCSS-DEFINED-WIDTH !important;
        }
        .card-item {
          width: $card-w-SCSS-DEFINED-WIDTH !important;
        }
      }
    }  

*/
/* INITIAL */
.memory-wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 30px 0px;
  width: 100vw;
  * {
    border: none;
  }
  .refresh-icon {
    z-index: 99999;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .refresh-icon img {
    width: 20px;
  }
  .refresh-icon:hover {
    filter: brightness(0.5);
    cursor: pointer;
  }
  .timer {
    display: grid;
    align-content: center;
    z-index: 99999;
    position: absolute;
    top: 3px;
    right: 3px;
    color: $color-3;
    font-weight: $font-heavy;
    height: 30px;
    padding: 5px;
    border: 1px solid $color-3;
    background-color: $color-1;
  }
  #draggable-container {
    position: fixed !important;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999 !important;
    .score {
      display: grid;
      justify-items: center;
      align-items: center;
      align-content: center;
      grid-template-columns: 1fr 1fr;
      width: 60px;
      height: 30px;
      border-radius: 5px;
      font-weight: $font-heavy;
      cursor: move;
      .move-icon {
        position: absolute;
        width: 1rem;
        top: -15px;
        left: -8px;
      }
      .hit,
      .miss {
        background-color: $color-5;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        min-width: 100%;
        min-height: 100%;
        span {
          font-size: $font-size-0;
        }
      }
      .hit {
        color: $color-6;
        border: 3px solid $color-3;
      }
      .miss {
        color: $color-3;
        border-top: 3px solid $color-3;
        border-bottom: 3px solid $color-3;
        border-right: 3px solid $color-3;
      }
    }
  }
  .card {
    width: $card-w-default;
    min-height: 50vh;
    box-shadow: 2px 2px 12px 4px $color-3;
    -webkit-box-shadow: 2px 2px 12px 4px $color-3;
    -moz-box-shadow: 2px 2px 12px 4px $color-3;
    box-shadow: 2px 2px 12px 4px $color-3;
    background: $color-1;
    border: none;
    background: -webkit-linear-gradient(to right, $color-1, $color-2);
    background: linear-gradient(to right, $color-1, $color-2);
    text-transform: uppercase;
    color: $color-6;
    .card-body {
      display: grid;
      justify-content: center;
      padding: 5px;
      grid-template-columns: 1fr;
      .card-header {
        width: $card-w-default;
        display: grid;
        background: inherit;
        grid-template-columns: repeat(1, 1fr);
        margin-top: $spacer-2;
        max-height: 50px;
        min-height: 50px;
        .card-title {
          justify-self: center;
          .main-title {
            text-shadow: -1px 1px 0 $color-3, 1px 1px 0 $color-3,
              1px -1px 0 $color-3, -1px -1px 0 $color-3;
            font-weight: $font-heavy;
            letter-spacing: $spacer-0;
            font-size: $font-size-1;
            color: $color-3;
          }
        }
      }
      .card-item {
        width: $card-w-default;
        height: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        .card-unit {
          height: 40px;
          width: 40px;
          background: $color-5;
          font-size: 0;
          color: $color-3;
          border-radius: 8px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: $spacer-1;
          box-shadow: 0 0 5px 2px $color-4;
          -webkit-box-shadow: 0 0 5px 2px $color-4;
          -moz-box-shadow: 0 0 5px 2px $color-4;
          box-shadow: 0 0 5px 2px $color-4;
          img {
            min-height: 30px;
            max-height: 30px;
            height: 30px;
            min-width: 30px;
            max-width: 30px;
            width: 30px;
          }
          &:hover img.qmark {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            -webkit-box-shadow: 0 58px 36px -56px $color-2;
            -moz-box-shadow: 0 58px 36px -56px $color-2;
            box-shadow: 0 58px 36px -56px $color-2;
          }
          &:hover img.qmark {
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
          }
          img.qmark {
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

/* RESPONSIVE */
@media all and (min-width: 280px) {
  .memory-wrapper {
    .card {
      .card-body {
        .card-item {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
@media all and (min-width: 350px) {
  .memory-wrapper {
    #draggable-container {
      .score {
        width: 80px;
        height: 40px;
        .hit,
        .miss {
          span {
            font-size: $font-size-1;
          }
        }
      }
    }
    .card {
      .card-header {
        margin-bottom: 10px !important;
        .card-title {
          .main-title {
            font-size: $font-size-3 !important;
          }
        }
      }
      .card-unit {
        width: 3.5rem !important;
        height: 3.5rem !important;
        img {
          min-height: 3.3rem !important;
          max-height: 3.3rem !important;
          height: 3.3rem !important;
          min-width: 3.3rem !important;
          max-width: 3.3rem !important;
          width: 3.3rem !important;
        }
      }
    }
  }
}
@media all and (min-width: 430px) {
  .memory-wrapper {
    #draggable-container {
      top: 35px;
      .score {
        width: 90px;
        height: 55px;
        .hit,
        .miss {
          span {
            font-size: $font-size-1;
          }
        }
        .move-icon {
          top: -10px;
        }
      }
    }
    .card {
      width: $card-w-430 !important;
      .card-body {
        padding: $spacer-0 !important;
        .card-header {
          width: $card-w-430 !important;
        }
        .card-item {
          width: $card-w-430 !important;
          padding: 0 $spacer-0 $spacer-0 $spacer-0 !important;
          grid-template-columns: repeat(5, 1fr);
          .card-unit {
            width: 3rem !important;
            height: 3rem !important;
            img {
              min-height: 2.8rem !important;
              max-height: 2.8rem !important;
              height: 2.8rem !important;
              min-width: 2.8rem !important;
              max-width: 2.8rem !important;
              width: 2.8rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 540px) {
  .memory-wrapper {
    .timer {
      top: 10px;
      right: 10px;
      height: 30px;
      padding: 5px;
    }
    #draggable-container {
      .score {
        width: 110px !important;
        height: 65px !important;
        .hit,
        .miss {
          span {
            font-size: $font-size-1;
          }
        }
      }
    }
    .card {
      .card-body {
        padding: 0 $spacer-3 $spacer-3 $spacer-3 !important;
        .card-header {
          max-height: 70px;
          .card-title {
            .main-title {
              font-size: $font-size-4 !important;
            }
          }
        }
        .card-item {
          margin-top: $spacer-0;
          padding: $spacer-2;
          .card-unit {
            width: 4.5rem !important;
            height: 4.5rem !important;
            img {
              min-height: 4.3rem !important;
              max-height: 4.3rem !important;
              height: 4.3rem !important;
              min-width: 4.3rem !important;
              max-width: 4.3rem !important;
              width: 4.3rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 899px) {
  .memory-wrapper {
    .card {
      width: $card-w-899 !important;
      .card-body {
        .card-header {
          width: $card-w-899 !important;
        }
        .card-item {
          width: $card-w-899 !important;
          grid-template-columns: repeat(8, 1fr) !important;
          margin-top: $spacer-0 !important;
          .card-unit {
            width: 4.5rem !important;
            height: 4.5rem !important;
            img {
              min-height: 4.3rem !important;
              max-height: 4.3rem !important;
              height: 4.3rem !important;
              min-width: 4.3rem !important;
              max-width: 4.3rem !important;
              width: 4.3rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 1000px) {
  .memory-wrapper {
    .card {
      width: $card-w-1000 !important;
      .card-body {
        .card-header {
          width: $card-w-1000 !important;
          min-height: 75px !important;
          max-height: 75px !important;
          .card-title {
            .main-title {
              font-size: $font-size-5 !important;
            }
          }
        }
        .card-item {
          width: $card-w-1000 !important;
          margin-top: $spacer-2 !important;
          .card-unit {
            width: 4.7rem !important;
            height: 4.7rem !important;
            img {
              min-height: 4.5rem !important;
              max-height: 4.5rem !important;
              height: 4.5rem !important;
              min-width: 4.5rem !important;
              max-width: 4.5rem !important;
              width: 4.5rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 1250px) {
  .memory-wrapper {
    .card {
      .card-body {
        .card-header {
          .card-title {
            .main-title {
              font-size: $font-size-5 !important;
            }
          }
        }
        .card-item {
          padding: $spacer-0 $spacer-0 $spacer-3 $spacer-0 !important;
          .card-unit {
            width: 5.5rem !important;
            height: 5.5rem !important;
            img {
              min-height: 5.3rem !important;
              max-height: 5.3rem !important;
              height: 5.3rem !important;
              min-width: 5.3rem !important;
              max-width: 5.3rem !important;
              width: 5.3rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 1500px) {
  .memory-wrapper {
    .timer {
      height: 50px;
      padding: 10px;
      & > * {
        font-size: $font-size-4 !important;
      }
    }
    .refresh-icon {
      img {
        width: 40px;
      }
    }
    .card {
      width: $card-w-1500 !important;
      .card-body {
        .card-header {
          width: $card-w-1500 !important;
        }
        .card-item {
          width: $card-w-1500 !important;
          .card-unit {
            width: 5.5rem !important;
            height: 5.5rem !important;
            img {
              min-height: 4.5rem !important;
              max-height: 4.5rem !important;
              height: 4.5rem !important;
              min-width: 4.5rem !important;
              max-width: 4.5rem !important;
              width: 4.5rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 2000px) {
  .memory-wrapper {
    .card {
      .card-body {
        .card-item {
          padding: $spacer-3 !important;
          grid-template-columns: repeat(10, 1fr) !important;
          .card-unit {
            width: 7rem !important;
            height: 7rem !important;
            img {
              min-height: 6.5rem !important;
              max-height: 6.5rem !important;
              height: 6.5rem !important;
              min-width: 6.5rem !important;
              max-width: 6.5rem !important;
              width: 6.5rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 2644px) {
  .memory-wrapper {
    .card {
      width: $card-w-2644 !important;
      .card-body {
        .card-header {
          width: $card-w-2644 !important;
        }
        .card-item {
          width: $card-w-2644 !important;
          .card-unit {
            width: 9rem !important;
            height: 9rem !important;
            img {
              min-height: 8.5rem !important;
              max-height: 8.5rem !important;
              height: 8.5rem !important;
              min-width: 8.5rem !important;
              max-width: 8.5rem !important;
              width: 8.5rem !important;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width: 3000px) {
  .memory-wrapper {
    .card {
      margin-top: $spacer-5 !important;
      width: $card-w-3000 !important;
      .card-body {
        .card-header {
          width: $card-w-3000 !important;
        }
        .card-item {
          width: $card-w-3000 !important;
        }
      }
    }
  }
}
@media all and (min-width: 3500px) {
  .memory-wrapper {
    .card {
      margin-top: $spacer-5 !important;
    }
  }
}

/* ANIMATIONS */

/* animate click event */
.animal {
  border-radius: 5px;
  animation: clicked 0.4s ease-in;
}
@keyframes clicked {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

/* animate matched cards */
.matched-image {
  animation: matched 0.6s ease-in-out;
}
@keyframes matched {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.matched {
  animation: shine 1s ease-in-out;
}
@keyframes shine {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(1.5);
  }
  50% {
    filter: brightness(2);
  }
  75% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}

/* animate wrong selection */
.qmark {
  animation: qmark 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@keyframes qmark {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
