<template>
  <!--Form 2 -->
  <form class="" @submit.prevent @keydown.enter.prevent>
    <div class="container form">
      <div class="row center-content justify-content-center text-center">
        <div class="col-12 text-center">
          <h3 class="mb-4 mt-5">Ingresa tu nombre completo</h3>
        </div>
        <div class="col-12 text-center">
          <input
            v-model="fullName"
            id="full-name"
            type="text"
            maxlength="50"
            name="fullName"
            @input="notValidated = false"
          />
          <div v-if="notValidated" class="col-12 center-content mt-2">
            <span class="text-danger">Requerido</span>
          </div>
        </div>
      </div>
      <div class="col-12 center-content mb-1 text-center">
        <button class="btn btn-primary mt-2" @click="saveName">
          CONTINUAR
        </button>
      </div>
    </div>
  </form>
</template>
<script>
export default {
  name: 'UserDataForm',
  data() {
    return {
      fullName: '',
      notValidated: false,
    }
  },
  methods: {
    async saveName() {
      if (this.fullName.length < 1) {
        this.notValidated = true
        return
      }
      localStorage.setItem(
        'USER_DATA',
        JSON.stringify({ fullName: this.fullName })
      )
      this.$emit(
        'save-name',
        await JSON.parse(localStorage.getItem('USER_DATA'))
      )
    },
  },
}
</script>
<style lang="scss">
.btn-primary {
  background-color: $color-1;
  border: 1px solid $color-6 !important;
  color: $color-3;
  font-size: $font-size-1;
  &:hover {
    background-color: $color-7;
    color: $color-1;
    font-weight: $font-heavy;
  }
}
.text-danger {
  font-weight: $font-hard;
  font-size: $font-size-1;
}
.form {
  margin-bottom: $spacer-5;
  max-width: 80%;
  input {
    max-width: 80%;
  }
  input,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    border: 1px solid $color-6 !important;
    color: $color-6 !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: $color-6 !important;
  }
}
</style>
