/* CALC WRAPPER */
.calcWrapper {
  width: 270px;
  min-height: 520px !important;
  max-height: 520px !important;
  box-shadow: 1px 1px 4px 3px #000000;
  margin: 30px auto;
}
.calcWrapper > * > *{
  width: 270px;
}
.mainBackground {
  background: linear-gradient(135deg, #0d1f23 60%, #114547) !important;
  padding: 20px;
}

/* RESULT SCREEN */
.inputBtn {
  height: 200px;
  display: grid;
  justify-items: end;
  color: #0cebeb !important;
  border-bottom: 1px solid #0cebeb;
  align-items: end;
  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}

/* KEYPAD */
.allItems {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 320px !important;
}
.gridItem {
  border: 1px solid #041216;
  color: #dcdcdc;
  padding: 20px;
  height: 42px;
  width: 42px;
  text-align: center;
  border-radius: 15px;
  margin: 5px;
  box-shadow: -4px -4px 10px -5px #0cebeb !important;
  display: grid;
  justify-content: center;
  align-content: center;
}

.operations {
  color: #0cebeb;
}
.smallFont {
  font-size: 10px;
}
.smallerFont {
  font-size: 8px;
}
.pressed {
  border: 1px solid rgba(5, 255, 55, 0.2) !important;
  background: #000a0c;
  color: #dcdcdc;
  transition: background-color 0.2s ease-in;
  border-radius: 15px;
  padding: 20px;
  height: 42px;
  width: 42px;
  text-align: center;
  border-radius: 15px;
  margin: 5px;
  box-shadow: -4px -4px 10px -5px #0cebeb !important;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 10px;
}
.notPressed {
  transition: background-color 0.2s ease-in;
}
/* single */
.alignSelfTop {
  align-self: baseline !important;
}
.historyIcon {
  cursor: pointer !important;
  &:hover {
    filter: hue-rotate(50deg) !important;
  }
}
.chuckImage {
  cursor: pointer;
  filter: hue-rotate(148deg);
  width: 70px;
  height: 47px;
  margin-left: -14px;
  &:hover {
    filter: hue-rotate(158deg);
  }
}