
$color-1: #030608;
$color-2: #0b031a;
$color-3: #d2ddec;
$color-4: #b1c8d4;
$color-5: #23042f;
$color-6: #04ff00;
$color-7: #1e901c;
$color-8: #40ff00;

$font-size-5: 3rem;
$font-size-4: 2rem;
$font-size-3: 1.5rem;
$font-size-2: 1rem;
$font-size-1: .8rem;
$font-size-0: .5rem;

$font-thin: 300;
$font-hard: 600;
$font-heavy: 900;

$spacer-0: .2rem;
$spacer-1: .5rem;
$spacer-2: 1rem;
$spacer-3: 1.5rem;
$spacer-4: 2rem;
$spacer-5: 3rem;
$spacer-6: 6rem;

$opacity-90: E6;

$card-w-default: 95vw;
$card-w-430: 90vw;
$card-w-899: 98vw;
$card-w-1000: 85vw;
$card-w-1500: 75vw;
$card-w-2644: 70vw;
$card-w-3000: 60vw;
$card-w-3500: 50vw;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
body {
  overflow-x: hidden !important;
  background: $color-1;
  background: -webkit-linear-gradient(
    to right,
    $color-1,
    $color-2
  );
  background: linear-gradient(
    to right,
    $color-1,
    $color-2
  );
}